@import "src/vars";

.TrashButton {
  cursor: pointer;
  height: 40px;
  padding: 0 20px;
  border-radius: 40px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: $color-text-dark;
  background: $color-background-dark;
  transition: background $ease;
  &:hover {
    background: var(--primary-color);
    color: #fff;
  }
}
