@import 'src/vars';

.logo {
  font-family: 'Brave Sans';
  font-size: 34px;
  font-weight: 200;
  padding: 20px;

  &-c {
    color: #e3e2e2;
  }
  &-h {
    color: #d7d5d5;
  }
  &-r {
    color: #cac7c7;
  }
  &-o {
    color: #b5b2b2;
  }
  &-m {
    color: #9a9595;
  }
  &-a {
    color: var(--primary-color);
    transition: color $ease;
    .App--no-primary & {
        color: #f9f8f8;
    }
  }
}
