@import 'src/vars';

.ControlPanel {
  background: $color-text-dark;
  width: 200px;
  min-height: 100vh;
  color: #eee;
  overflow: hidden;
  transition: width $ease-fast;
  &-title {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
  }
  &-experience {
    padding: 10px 20px;
    color: #aaa;
    cursor: pointer;
    transition: color $ease, background $ease-fast;
    &--active {
      background: var(--primary-color);
      color: #fff;
    }
    &:first-child {
    }
  }
}
