@import 'src/vars';

.ControlPanel {
  background: #524a4a;
  width: 200px;
  min-height: 100vh;
  color: #eee;
  overflow: hidden;
  transition: width $ease-fast;
  &-title {
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 1;
    color: #9a9595;
    font-weight: 400;
    font-family: $font-family-secondary;
  }
  &-experience {
    padding: 10px 20px;
    color: #cac7c7;
    cursor: pointer;
    font-size: 16px;
    transition: color $ease, background $ease-fast;
    &--active {
      background: var(--primary-color);
      color: #fff;
    }
    &:first-child {
    }
  }
}
