@import "src/vars";

.PalettePreview {
  $minHeight: 700px;
  display: flex;
  padding: 20px 0;
  flex-grow: 1;
  height: 100vh;
  min-width: 200px;
  position: -webkit-sticky;
  position: sticky;
  will-change: transform;
  top: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 250px 0 inset rgba(0,0,0,0.2);

  @media (max-height: $minHeight) {
    position: relative;
    height: initial;
    will-change: initial;
  }

  &-labels {
    position: absolute;

    // prevent jumping labels on showing the gap
    top: 0;
    left: 0;

    opacity: 0;
    width: 100%;
    margin-left: 5px;
    height: 100%;
    z-index: -1;
    transform: translateX(0);
    transition: transform $ease, opacity $ease;
    &--visible {
      opacity: 1;
      transform: translate(100%);
    }
  }
  .PalettePreview-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    // padding: 10px;
    border-radius: 3px;
    background: #fff;

    max-width: 100%;
    height: 800px;
    max-height: calc(100vh - 40px);
    box-shadow: 0 0 70px rgba(0,0,0,0.2);
    transition: padding .1s ease-out, width .1s ease-out;
    &--slim {
      width: 100px;
    }
    &--padded {
      padding: 5px;
      .PalettePreview-swatch {

        margin: 5px;
      }
    }
    @media (max-height: $minHeight) {
      max-height: inherit;
      height: #{$minHeight - 40px};
      margin-top: 0;
    }
  }

  .PalettePreview-bk {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -60px;
    left: -60px;
    right: -60px;
    bottom: -60px;
    z-index: -1;
    filter: blur(30px) opacity(.2);
  }
  &-swatch {

    display: block;
    overflow: hidden;
    display: flex;
    align-items:flex-end;
    transition: margin .1s ease-out;

    // &:first-child {
    //   border-radius: 3px 3px 0 0;
    // }
    // &:last-child {
    //   border-radius: 0 0 3px 3px;
    // }

    &Placeholder {
      background-image: repeating-linear-gradient( 45deg, #fff, #fff 5px, #eee 5px, #eee 10px );
      flex-grow: 1;
    }
    &Label {
      padding: 0 0 5px 5px;
      font-size: 13px;
      position: absolute;
    }
  }
  &-margin {
    height: 100%;
    position: relative;
    z-index: -1; // don't show controls over palette
  }

  // weights
  &-card {
    margin-left: 20px; // min left on small width
    &Colors {
      display: flex;
      flex-direction: column;
      // flex-grow: 41;
    }
    &Neutrals {
      display: flex;
      flex-direction: column;
      // flex-grow: 55;
      position: relative;
    }
    &Cta {
      display: flex;
      flex-direction: column;
      // flex-grow: 4;
      margin-top: -1px; // HACK: fix render glitch white line on some sizes
    }
  }
  &-bk {
    &Colors {
      display: flex;
      flex-direction: column;
      // flex-grow: 41;
    }
    &Neutrals {
      display: flex;
      flex-direction: column;
      // flex-grow: 55;
    }
    &Cta {
      display: flex;
      flex-direction: column;
      // flex-grow: 4;
    }

  }



  // &-controls {
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   align-items: flex-end;
  //   top: 20px;
  //   right: 20px;
  //   bottom: 20px;
  //   &Extra {
  //     margin-top: auto;
  //   }
  // }
}

.PaddingToggle {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  &-pane {
    width: 100%;
    flex-grow: 1;
    background: #aaa;
    transition: margin .1s ease-out;
    &:nth-child(2) {
      background: #ccc;
    }
    &:nth-child(3) {
      background: #ddd;
    }
  }
  &--gap &-pane:not(:first-child) {
    margin-top: 2px;
  }
  &-label {
    position: absolute;
    left: 0px;
    bottom: 50px;
    white-space: nowrap;
    visibility: hidden;
    // background: #ccc;
    // padding: 5px;
  }
  &:hover &-label {
    visibility: visible;
  }
}

.PalettePreview-logo {
  position: absolute;
  top: 0;
  left: 10px;
  animation: show-logo $ease forwards;
  &--image {
    animation: none;
    margin-left: 30px;
    display: none;
    & > .logo {
      font-size: 24px;
    }
    .App--print & {
      display: block;
    }
  }
}

@keyframes show-logo {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

.FullModeToggle {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}


// Screenshots
.PalettePreview {
  .App--print &-image {
    position: relative;
    background: #fff;
    width: 500px;
    padding: 40px;
    padding-top: 70px;
    transition: none;
  }
  .App--print &-card {
    width: 200px;
    transition: none;
  }
  .App--print &-labels {
    transition: none;
    z-index: 1;
    opacity: 1;
    transform: translate(100%);
  }

  .App--print &:after, .App--print-settle &:after {
    display: flex;
    content: 'Saving';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}
