@import "../../vars";

.SwatchPanel {
  overflow: hidden;
  width: 200px;
  border-right: 1px solid #ccc;
  // animation: show-panel .2s ease-out;
  transition: width .3s ease-out;

  @media (max-width: $slimBp) {
    width: 140px;
  }
  &--slim {
    width: 140px;
    // animation: show-panel-slim .2s ease-out;
  }
  &--hidden {
    width: 0;
  }

  @keyframes show-panel {
    0% { width: 0 }
    100% { width: 200px }
  }
  @keyframes show-panel-slim {
    0% { width: 0 }
    100% { width: 140px }
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  &-swatches {
    margin: 15px 0;
    &--no-group {
      margin-top: 40px;
    }
  }

  &-remove {
    margin-top: 40px;
  }
  &-controls {
    display: flex;
    margin-top: auto;
    justify-content: center;
    & > * {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}
.SwatchGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
