 .ExportControls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-end;
    // top: 20px;
    // right: 20px;
    // bottom: 20px;
    // height: 100%;
    overflow: hidden;
    padding: 0 20px;
    &-icon {
      z-index: 1;
      width: 30px;
      height: 18px;
      position: absolute;
      right: 20px;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: transparent;
      cursor: pointer;
      &Bar {
        width: 100%;
        height: 2px;
        background: #111;
      }
    }
    &-menu {
      // width: 0;
      transition: transform .3s;
      transition-timing-function: ease-in;
      // width: 180px;
      transform: translateX(100%) translateX(20px);

      &--visible {
        transition-timing-function: ease-out;
        transform: translateX(0);
      }
    }
    &-menuContent {
      // width: 180px;
      display: flex;
      flex-direction: column;
      padding-top: 35px;
      height: 100%;
      align-items: flex-end;
      }
    &-extra {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
