$slimBp: 1200px;

// dawn
$color-orange-light: #ff780f;
$color-orange-dark: #fa551e;
$color-red-light: #f52d28;
$color-red-dark: #dc0032;
$color-crimson-light: #be0028;
$color-crimson-mid: #aa052d;
$color-crimson-dark: #960528;

// dusk
$color-pink-light: #f05a7d;
$color-pink-dark: #f0325a;
$color-plum-light: #af144b;
$color-plum-dark: #870a3c;
$color-wine-light: #640032;
$color-wine-dark: #500a28;

// graphite
$color-text-darkest: #2d2323;
$color-text-dark: #524a4a;
$color-text-mid: #787272;
$color-text-light: #9a9595;
$color-text-lightest: #b5b2b2;

$color-line-dark: #a19393;
$color-line-mid: #d7d5d5;
$color-line-light: #e3e2e2;

$color-background-dark: #eeeded;
$color-background-mid: #f4f3f3;
$color-background-light: #f9f8f8;
